<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="harshad.mykarjat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="appbrain.job_id"
            android:value="1205629301" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".result"
            android:screenOrientation="portrait" />
        <activity android:name=".advertise" />
        <activity android:name=".supermain"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Contact" />
        <activity android:name=".foodmain" />
        <activity android:name=".sample" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".result_train" />
        <activity android:name=".resultSingleItem" />
        <activity
            android:name=".ExitAdvertise"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".registerBusiness" />
        <activity android:name=".AnotherActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".GoogleSignInActivity" />
        <activity android:name=".News" />
        <activity android:name=".Articles"></activity>
    </application>

</manifest>